.navbar-mobile {
  background: #d7d8dd !important;
  min-width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.4rem solid #3fada8;
  z-index: 10;
  box-shadow: 0px 4px 15px 3px rgb(0, 0, 0, 14%);
  position: sticky;
  top: 0;
  /* overflow-y: hidden !important; */
}

.nav2-links-mobile {
  color: #1c1d1f;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: 1.25rem;
  font-weight: 550;
  margin: 0;
  height: 100%;
  cursor: pointer;
  text-align: left;
  padding: 0.5rem;
  padding-bottom: 10px;
  transition: all 0.1s ease-in-out;
}

.nav2-links-mobile:hover {
  color: #3fada8;
}

.title-mobile {
  /* font-weight: bolder; */
  float: left;
}

.navbar-mobile .nav2-menu-mobile {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 24px;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: -100%;
  opacity: 1;
  transition: all 0.5s ease;
}

.navbar-mobile .nav2-menu-mobile.active {
  background: #d7d8dd;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
}

.navbar-mobile ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav2-menu-mobile li {
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.nav2-menu-mobile .socials {
  width: 70%;
  margin: 0 auto;
}

.navbar-mobile .menu-icon {
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
  transform: translate(-100%, 60%);
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-mobile .social-logo {
  position: static;
  color: #1c1d1fd7 !important;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0px;
  margin: 10px;
}

.navbar-mobile .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3px;
}

@media only screen and (min-width: 960px) {
  .navbar-mobile {
    display: none !important;
  }
}
