footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #e6eaff;
  color: #00000094;
  font-size: 0.8rem;
  border-top: #1c1d1f62 solid 1px;
}

footer a {
  /*margin-right: 20px;*/
  font-weight: 600;
}

.footer-div {
  max-width: 100vw;
  width: 100%;
  height: 3.5rem;
  margin: 0.5rem auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  margin-right: 0.5rem;
}

.social-icon {
  scale: 1.1;
  margin-left: 0.1rem; /* Adjust the margin as needed */
}

.footer-text {
  display: flex;
  flex-direction: row;
}

.footer-text p {
  padding: 0 1rem;
}

.iiitd-logo {
  height: 2.5rem;
  margin: 0 0.5rem;
}

/*
@media only screen and (max-width: 800px) {
  .footer-div {
    flex-direction: column;
  }

  .socials {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: center;
    margin-left: 0;  Adjust margin as needed 
  }

  .social-icon {
    margin: 0 5px; Adjust the margin as needed
  }

  footer .divider {
    display: none;
  }

  footer a {
    margin-right: 0;
  }

  footer p {
    text-align: center;
  }

  .footer-div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iiitd-logo {
    margin: 2px 0;
  }
}

@media only screen and (max-width: 405px) {
  .footer-div {
    flex-direction: column;
  }

  .socials {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: center;
    margin-left: 0;  
  }

  .social-icon {
    margin: 0 5px; 
  }

  footer .divider {
    display: none;
  }

  footer a {
    margin-right: 0;
  }

  footer p {
    text-align: center;
  }

  .footer-div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iiitd-logo {
    margin: 2px 0;
  }
}*/
